.clr {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.box {
  background:black;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
}


.box:nth-child(odd) {
  background: lightcoral;

}
.box:nth-child(odd):hover{
  background-color:darkolivegreen
}

.box:nth-child(even) {
  background: lightseagreen;
}
.box:nth-child(even):hover{
  background-color:lightgreen;
}


  